server:
  port: 8083

spring:
  cloud:
    discovery:
      enabled: true
  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI:mongodb://localhost:30002/user-service-mongodb}
  application:
    name: user-server
  config:
    import: optional:configserver:${CONFIG_SERVER_URI:http://localhost:8888}
  profiles:
    active:
      - resilience4j

mongock:
  change-logs-scan-package: false
  mongo-db:
    write-concern:
      journal: false
    read-concern: local

eureka:
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}

jwt:
  password:
    encoder:
      secret: FZK2DZ82odqS13e8aENggaMbb_fAkl-nJL4AEVBX43g
      iteration: 64
      keylength: 256
  secret: b5f59337a612a2a7dc07328f3e7d1a04722967c7f06df20a499a7d3f91ff2a7e
  expiration: 3600
  issuer: fedbon

logging:
  level:
    root: INFO